# 1. What are Data structures and why are they important?

-> Data stuctures are a way of storing, organizing and managing data in a computer due to this they are important as they enable a efficient algorithm and memory usages

# 2.  Explain the difference between mutable and immutable data types with examples

-> Mutable data type: the data type that can be changed even after they are created
Ex: lists, dictionaries.

->Immutable data type: the type of data that cannot change after its initialization
Ex: typles, strings.

# 3. What are the main differences between lists and tuples in Pyhton?

-> The main difference between lists and tuples is that lists are mutable meaning after they are created, the values/elements can be changed, modified, or be removed, while in typles they are immutables meaning after they are created the elements cannot be changed, modified or removed.

# 4. Descibe how dictionaries are stored

-> Dictionaries store data as key-value pairs. the key within a dictionary shoukld be unique and immutable, the data stored in a dictionary are in unordered manner.

# 5. Why might you use set instead of a list in Python?

-> A set is a unordered collection of unique elements which does not allow dublicates while list is an odered collection which allows dublicates.

# 6. What is a string in python and how is it different from a list?

-> A string is sequence of characters eclosed between single or double quotes
-> A list is a sequence of items, where each item could be anything Ex: integer,float, string etc.

# 7. How do tuple ensure data integrity in Pyhtons?

-> tuple ensures the data integrity throught its immutablity, as its elements cnnot be changed or modified or removed, this characteristics ensures that the information remains consistance throughout the programm's execution

# 8. WHat is a hash table, how does it relate to dictionaries in Python?

-> A hash table is a data structure used to insert, look up and remove key-value pairs quickly, it operates on hashing concept. The dictionaries in python are implemented using hash tables hence they relate to dictionaries in python.

# 9. Can lists contain different data types in Python?

-> Yes, a list can contain different data types in Python.

# 10. Explain why strings are immutable in Python?

-> Strings are immutable in python due to its design choice that prioritizes simplicity, safety and efficiency. As immutability ensures the string's value remain constant throughout lifetime.

# 11. What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries in python offer fast data retrieval unlike lists where you have to traverse through each element to find a value.

# 12. Describe a scenario where using a tuple would be preferable over a list?

-> tuples are primarily used to store data that does not change frequently.

# 13. How do sets handle doulicate values in Python?

-> Set are designed to store only unique elements, if there is an attempt to add a dublicate value, it is automatically ignored and the set remains unchanged.

# 14. How does the 'in' keyword work differently for lists and dictionaries?

-> The 'in' keyword in dictionary[dict] checks for the presence of a key

-> The 'in' keyword checks the membership with a sequence such as list.

# 15. Can you modify the elements of a tuple? Explain why or why not?

-> Now, you cannot modify the elements of a tuple as a tuple is immutable.

# 16. What is a nested dictionary?, and give an example of its use case

-> It is a dictionary ina dictionary, it is a collection of dictionaries into one dictionary, This structure allows to easily store and access family members records including childrens and grandchildrens, in a organise manner

# 17. Describe the time complexcity of accessing elements in a dictionary

-> Accessing an element in a dictionary by its key typically has an average time complexity of 0(1), meaning it takes constant time, regardless of the dictionary size

# 18. In what situations are lists preferred over dictionaries?

-> sequence operations, such as maintaining a stack or queue and orderd collections a list are preferred.

# 19. Why are dictionaries considered unordered and how does that affect data retrieval?

-> dictionaries do not maintain any inherante order of the items based on when they were added.

# 20. Explain the difference between a list and a dictionary in terms of a data retrieval.

-> A dictionary execls in fast lookups by key, while lists are more sutable for sequential access by index.

# PRACTICAL QUETIONS

* 1. Write a code to creat a string using your name and print it.

In [8]:
name = 'Rida farooqui'
print(name)

Rida farooqui

* 2. write a code to find thye length of the string "Hello World"

In [10]:
string = "Hello World"
length = len(string)
print(length)

11

* 3. Write a code to slice the first 3 characters of the string "Python Programming"

In [11]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

* 4. Write a code to covert a string "hello" into Upper case

In [12]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

* 5. Write a code to replace "apple" with "orange" in the string " I like apple"

In [14]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

* 6. Write a code to creat a list of numbers from 1 to 5 and print it

In [17]:
r1 = 1 # range 1
r2 = 5 # range 2
li = list(range(r1, r2))
print(li)

[1, 2, 3, 4]

* 7. Write a code to appened the number 10 to the list [1, 2, 3, 4].

In [18]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

* 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [20]:
my_list = [1, 2, 3, 4, 5]
removed_element = my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

* 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [22]:
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

* 10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [25]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

* 11. Write a code to creat a tupke with the elements 100, 200, 300 and print it

In [27]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

* 12. Write a code to access the second to last element of the tuple ('red', 'green', 'blue', 'yellow')

In [28]:
tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple[-2]
print(second_to_last_element)

blue

* 13. Write a code to find the minimum number in the tuple (10,20,5,15)

In [29]:
tuple = (10,20,5,15)
minimum_number = min(tuple)
print(minimum_number)

5

* 14. Write a code to find the index of the element "cat" in the tuple ('dog','cat,'rabbit')

In [30]:
tuple = ('dog','cat','rabbit')
index = tuple.index('cat')
print(index)

1

* 15. Write a code to creat a tuple containing three different fruits and check "kiwi" is in it.

In [32]:
creat_tuple = ('apple', 'kiwi', 'orange')
check_element = 'kiwi' in creat_tuple
print(check_element)

True

* 16. Write a code to creat a set with the element 'a', 'b', 'c' and print it.

In [33]:
creat_set = {'a', 'b', 'c'}
print(creat_set)

{'c', 'b', 'a'}

* 17. Wirte a code to clear all elements from the set{1,2,3,4,5}

In [34]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

* 18. Write a code to remove the element 4 from the set {1,2,3,4}

In [35]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

* 19. Wirte a code to find the union of two sets {1,2,3} and {3,4,5}.

In [36]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

* 20. Write a code to find the itersection of two sets {1,2,3} and {2,3,4}

In [37]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

* 21. Write a code to creat a dictionary with the keys "name", "age", "city" and print it.

In [41]:
creat_dictionary = {'name': 'Rida', 'age':18,'city':'Hyderabad'}
print(creat_dictionary)

{'name': 'Rida', 'age': 18, 'city': 'Hyderabad'}

* 22. Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'john', 'age':25}

In [42]:
my_dictionary = {'name':'john', 'age':25}
my_dictionary['country'] = 'USA'
print(my_dictionary)

{'name': 'john', 'age': 25, 'country': 'USA'}

* 23. Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice', 'age':,30}

In [44]:
my_dictionary = {'name':'Alice', 'age':30}
value = my_dictionary['name']
print(value)

Alice

* 24. Write a code to remove the key 'age' from the dictionary {'name':'Bob", 'age':22, 'city':'Newyork'}.

In [51]:
my_dictionary = {'name':'Bob', 'age':22, 'city':'Newyork'}
del my_dictionary['age']
print(my_dictionary)

{'name': 'Bob', 'city': 'Newyork'}

* 25. Write a code to check if the key 'city' exists in the dictionary {'name':'Alice', 'city':'Paris"}

In [52]:
my_dictionary = {'name':'Alice', 'city':'Paris'}
check_key = 'city' in my_dictionary
print(check_key)

True

* 26. Write a code to creat a list, a tuple, and a dictionary and print them all

In [53]:
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dictionary = {'name':'Rida', 'age':'18'}
print(my_list)
print(my_tuple)
print(my_dictionary)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Rida', 'age': '18'}

* 27. Write a code to creat a list 5 random number between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [58]:
import random
random_number = [random.randint(1,100) for _ in range(5)]
random_number.sort()
print(random_number)

[28, 49, 59, 59, 72]

* 28. Write a code to creat a list with strings and print the elements at the third index.

In [59]:
my_list = ['hi', 'hello', 'how are you', 'not good but not bad']
third_element = my_list[2]
print(third_element)

how are you

* 29. Write a code to combine two dictionaries into one and print.

In [60]:
my_dictionary1 = {'name':'Rida', 'age':18}
my_dictionary2 = {'city':'Hyderabad', 'country':'India'}
combined_dictionary = {**my_dictionary1, **my_dictionary2}
print(combined_dictionary)

{'name': 'Rida', 'age': 18, 'city': 'Hyderabad', 'country': 'India'}

* 30. Write a code to convert a list of strings into a set.

In [61]:
s = 'ohio'
print(type(s))
print(s)

set_s = set(s)
print(type(set_s))
print(set_s)

<class 'str'>
ohio
<class 'set'>
{'o', 'h', 'i'}